.AddNewContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 350px;
  width: 100%;
  background: #f9fafc;
  border: 1px solid rgba(20, 20, 43, 0.25);
  border-radius: 16px;
  padding-bottom: 20px;
}
.HedingClose {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.Input {
  width: 80%;
  border-radius: 15px;
  height: 30px;
  margin-bottom: 15px;
}
