.Add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 670px;
  width: 100%;
  height: 100%;
  background: #fff;
  margin-top: 10px;
}
.AddLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 103px;
  width: 100%;
}
.ListMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20px;
  height: 12px;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 2px;
  background: #000;
}
