.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  padding: 0px 20px 0px 20px;
  background-color: #3faad7;
  color: #fff;
  border-radius: 15px 15px 0px 0px;
}
.navLeft {
  display: flex;
  flex-direction: row;
  max-width: 110px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.pages {
  display: flex;
  flex-direction: row;
  max-width: 340px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.pages ul {
  display: flex;
  flex-direction: row;
  max-width: 340px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.pages ul li {
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.logoimg {
  width: 30px;
  height: 30px;
}
.link {
  text-decoration: none;
  color: #fff;
}
.link:hover {
  color: #cccccc;
}
